* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.6;
}

.container {
  width: 90%;
  margin: 0 auto;
}

hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

nav {
  padding: 15px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul a {
  text-decoration: none;
  color: #000;
}

.main {
  margin-top: 50px;
}

.main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .row div {
  height: 330px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  margin-bottom: 25px;
}

.main .row div .text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .row .text h2,
.main .row p {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.main .row .col1 {
  background-image: url(img/1.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col2 {
  background-image: url(img/2.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col3 {
  background-image: url(img/3.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col4 {
  background-image: url(img/4.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col5 {
  background-image: url(img/5.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col1 {
  background-image: url(img/1.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col6 {
  background-image: url(img/6.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col7 {
  background-image: url(img/7.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col8 {
  background-image: url(img/8.jpg);
  background-position: center;
  background-size: cover;
}

.main .row .col9 {
  background-image: url(img/9.jpg);
  background-position: center;
  background-size: cover;
}

footer {
  margin-top: 50px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}

footer div {
  margin-top: 15px;
}

footer .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

footer .nav ul a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */