* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

.container {
  width: 90%;
  margin: 0 auto;
}
hgroup {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
nav {
  padding: 15px;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: #000;
    }
  }
}
.main {
  margin-top: 50px;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      height: 330px;
      flex: 0 0 31%;
      margin-bottom: 25px;
      .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
    .text h2,
    p {
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
    }
    .col1 {
      background-image: url(img/1.jpg);
      background-position: center;
      background-size: cover;
    }
    .col2 {
      background-image: url(img/2.jpg);
      background-position: center;
      background-size: cover;
    }
    .col3 {
      background-image: url(img/3.jpg);
      background-position: center;
      background-size: cover;
    }
    .col4 {
      background-image: url(img/4.jpg);
      background-position: center;
      background-size: cover;
    }
    .col5 {
      background-image: url(img/5.jpg);
      background-position: center;
      background-size: cover;
    }
    .col1 {
      background-image: url(img/1.jpg);
      background-position: center;
      background-size: cover;
    }
    .col6 {
      background-image: url(img/6.jpg);
      background-position: center;
      background-size: cover;
    }
    .col7 {
      background-image: url(img/7.jpg);
      background-position: center;
      background-size: cover;
    }
    .col8 {
      background-image: url(img/8.jpg);
      background-position: center;
      background-size: cover;
    }
    .col9 {
      background-image: url(img/9.jpg);
      background-position: center;
      background-size: cover;
    }
  }
}

footer {
  margin-top: 50px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  div {
    margin-top: 15px;
  }
  .nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
